body {}


a {
    text-decoration: none;
}

.header {
    margin-left: 375px;
    margin-right: 375px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 14px;
}

.logo_img {
    width: 35px;
    height: 40px;
}

.logo_text {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.be {
    color: #F25822;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu {
    display: flex;
    align-items: center;
    gap: 55px;
}

.home {
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu_text {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.features {
    display: flex;
    align-items: center;
}

.content {
    margin-left: 375px;
    margin-right: 439px;
    display: flex;
    justify-content: space-between;
}

.home_meta {
    width: 522px;
    height: 374px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
}

.title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sub_title {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -61px;
}

.button_meta {
    display: flex;
    gap: 72px;
    align-items: center;
    margin-top: 17px;
}

.button {
    width: 140px;
    height: 50px;
    flex-shrink: 0;

    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);

    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.video {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content_img {
    width: 544.814px;
    height: 374.843px;
    flex-shrink: 0;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-left: 345px;
    margin-right: 375px;
    margin-top: 294px;
    gap: 48px;
}



@font-face {
    font-family: "Gilroy-Bold";
    src: url("fonts/Gilroy-Bold.eot");
    src: url("fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/Gilroy-Bold.woff") format("woff"),
        url("fonts/Gilroy-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("fonts/Gilroy-Medium.eot");
    src: url("fonts/Gilroy-Medium?#iefix") format("embedded-opentype"),
        url("fonts/Gilroy-Medium.woff") format("woff"),
        url("fonts/Gilroy-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("fonts/Gilroy-SemiBold.eot");
    src: url("fonts/Gilroy-SemiBol?#iefix") format("embedded-opentype"),
        url("fonts/Gilroy-SemiBol.woff") format("woff"),
        url("fonts/Gilroy-SemiBol.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}